<div class="jumbotron">
    @*<h1>Beta Nana Api </h1>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Available Features</h2>
        <p>Click on the API link in the nav bar to view the generated documentation for the Nana Quotes API. 
        Currently, a simple Quote object with an associated list of QuoteDetails is implemented.  The database is seeded
        with 3 quote records that each have 0 to 2 associated Quote Details.  You can simply use the browser address bar
        to test GET actions.
        Use <a href="https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop">The Postman App</a>
        in Chrome to test Add, Update, and Delete actions.  No authentication is configured to make api calls yet.
        </p>

    </div>
</div>
