<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://betanana.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>betanana.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>betaNana</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$betaNana</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:betanana.database.windows.net,1433;Initial Catalog=betaNana_db;User ID=betananaDBA@betanana;Password=m0nst3r13DBA" Name="Data Source=tcp:betanana.database.windows.net,1433;Initial Catalog=betaNana_db;User Id=betananaDBA@betanana;Password=m0nst3r13DBA" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="betaNana.Models.QuotesServiceContext, betaNana" MigrationConfiguration="betaNana.Migrations.Configuration, betaNana" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:betanana.database.windows.net,1433;Initial Catalog=betaNana_db;User Id=betananaDBA@betanana;Password=m0nst3r13DBA</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>